*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

#Snow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(110,120,80,0.1);
    pointer-events: none;
}

body{
	background: #abcdef;
}

ol, ul{
	list-style: none;
}

.nav-header{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    z-index: 99;
}

.header{
  width: 100%;
  height: 60px;
}

.header .ul-list {
	margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
}

.header .ul-list > li {
  flex: 1;
  border-right: 1px solid #333;
  position: relative;
}

.header .ul-list > li:first-child:hover {
  transform: translateX(-10px);
}

.header .ul-list > li:last-child {
  border-right: none;
}
.header .ul-list > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: #222;
  cursor: pointer;
  
}

.header .ul-list > li:first-child > a:hover{
	color: white;
}

.header .ul-list .ul-list-li .li_a.active{
	color: #f1736a;
}

.header .ul-list > li > a:hover{
	color: #f1736a;
}

.header .ul-list > li:hover .ol-list {
  display: block;
}
.header .ol-list {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 999;
  background: #333;
  width: 100%;
}
.header .ol-list > li > a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222;
  justify-content: center;
}
.header .ol-list > li > a:hover {
  color: #f1736a;
}

.lunbotu{
	clear: both;
	padding-top:5%; 
	width: 99%;
	height: 450px;
	margin: 0 auto;
	background: white;

}

.lunbotu #body_div{
	margin: 0 auto;
	padding: 10px 0 0 0;
	width: 98%;
	height: 85%;
}
.lunbotu #body_div img{
	width: 100%;
	height: 100%;
}

#body_div .btn div {
    width: 30px;
    height: 60px;
}

#body_div .btn .btn-left {
    position: absolute;
    background: url(../img/preImg.png) no-repeat;
    left: 20px;
    top: 205px; 
}

#body_div .btn .btn-right {
    position: absolute;
    background: url(../img/nexImg.png) no-repeat;
    right: 20px;
    top: 205px;
}
        
.dot {
    padding: 2px 5px;
    background: black;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    top: 350px;
    right: 4%;
}

.dot .dot-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    display: inline-block;
}

.dot .dot-item.active {
    background: #ff5000;
}

.flex{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 98%;
    height: 13%;
    margin: 0 auto;
}

.flex .flex-container{
    width: 50%;
    height: 100%;
    margin: 0 10px;

}

.flex2, .flex3{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.flex2 .flex-item2{
    width: 25%;
    height: 250%;
    margin: 0 10px;
    transform: translateY(-70%);
}

.flex2 .flex-item2:first-child img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 6px #fff;
	transition: all .4s;
}

.flex2 .flex-item2:first-child img:hover{
	transform: rotate(360deg) scale(1.1);
}

.flex2 .flex-item2:last-child p{
	margin-top: 12%;
	font-size: 18px;
	color: white;
}

.flex3 .flex-item3{
	width: 8%;
    height: 90%;
    margin: 0 1%;
    transform: translateY(-50%);
}

.flex3 .flex-item3 a img{
	border-radius: 5px;
	/*transition: .3;*/
}

.flex3 .flex-item3 a img:hover{
	transform: translateY(-2px);
	box-shadow: 0 0 6px #fff;
}

.midd{
	width: 100%;
	margin: 0 auto;
}

.midd .mid-left{
	width: 35%;
	height: 800px;
	float:left;
	margin: 0 3%;
	/*background: yellow;*/

}

.midd .mid-left .static, .static2{
	width: 70%;
	height: auto;
	margin: 20px auto 0 auto;
	padding: 10px;
	border-radius: 10px;
	background: white;
}

.mid-left .static p, .static2 p, .static3 p{
	color: #5e676f;
	padding: 4% 0 0 5%;
	font-size: 20px;
}

.mid-left .static p img, .static2 p img, .static3 p img{
	float: left;
	margin-right: 4px;
}

.mid-left .static a{
	text-decoration: none;
	display: block;
	color: #5e676f;
	margin: 4% 0 0 5%;
}

.mid-left .static2 a{
	text-decoration: none;
	/*margin: 4% 0 0 4%;*/
}

.static2 a img {
	margin: 6px;
}

.mid-left .static2 a img:hover{
	transform: scale(1.1);
	border-radius: 50%;
	box-shadow: 0px 0px 8px #abcdef;
}

.midd .mid-left .static3{
	width: 70%;
	height: auto;
	padding: 10px;
	margin: 20px auto 0 auto;
	border-radius: 10px;
	background: white;
}

.midd .mid-left .static3 > div{
	height: 30px;
	line-height: 30px;
	margin: 2% 0 0 4%;
	text-align: center;
	display: inline-block;
	cursor: pointer;

}

.midd .mid-left .static3 > div:hover{
	transform: scale(1.1);
}

.midd .mid-left .static3 > div > a{
	color: #5e676f;
	text-decoration: none;
}

.static3-div1{
	width: 70px;
	background: #AEE05B;
}

.static3-div2{
	width: 70px;
	background: pink;
}

.static3-div3{
	width: 70px;
	background: #E8D368;
}

.static3-div4{
	width: 70px;
	background: #8D7EEA;
}

.static3-div5{
	width: 70px;
	background: #F75D78;
}

.static3-div6{
	width: 70px;
	background: #AEE05B;
}

.static3-div7{
	width: 90px;
	background: #55DCAB;
}

.midd .mid-right{
	width: 50%;
	height: 2000px;
	margin-right: 5%;
	float: right;
}

.page-search{
	width: 90%;
	height: 70px;
	margin-top: 20px;
	margin-bottom: 30px;
	/*background: url(../img/search.jpg) no-repeat;
	background-size: 100% 100%;*/
	/*border-radius: 6px;
	text-align: center;*/
}

.search-wrapper {
    position: absolute;
    margin-left: 6%;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    overflow: hidden;
    height: 70px;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    width:70px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    border-radius: 50px;
    width:450px;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color:#ffff;
    -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
    transform: translate(0, 60px);
    -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);

    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
    width:70px;
    height:70px;
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);

}
.search-wrapper.active .input-holder .search-icon span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #974BE0;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #974BE0;
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FFF;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
.search-wrapper .result-container {
    width: 100%;
    position: absolute;
    top:70px;
    left:0px;
    text-align: center;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 20px;
    display:none;
    color:#B7B7B7;
}


@media screen and (max-width: 560px) {
    .search-wrapper.active .input-holder {width:200px;}
}

.page-content{
	width: 100%;
	border-radius: 20px;
	margin-top: 20px;
	background: #ffff;
}

.page-content h1{
	text-align: center;
	color: #848484;
	padding: 3%;
}

.page-content .article-tag{
	text-align: center;
}

.article-tag span{
	padding: 0 1%;
	color: #848484;
}

.page-content-div{
	width: 90%;
	height: auto;
	margin: 3% auto auto auto;
	background: #AEE05B;
}

.page-content-div p{
	width: 90%;
	margin: 0 auto;
	text-indent: 32px;
	line-height: 30px;
	color: white;

}

.page-content-div2{
	width: 90%;
	margin: 3% auto;
}

.page-content-div2 p {
	text-indent: 32px;
	line-height: 30px;
	color: #848484;
}

.page-footer{
	width: 80%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

.page-footer a {
	height: 100%;
	margin: 0 3%;
	padding: 2% 2%;
	text-decoration: none;

}

.page-footer > a:nth-child(1) {
	border: 1px solid #e87461;
	color: #e87461;
}

.page-footer > a:nth-child(2) {
	border: 1px solid #AEE05B;
	color: #AEE05B;
}

.page-footer > a:nth-child(3) {
	border: 1px solid pink;
	color: pink;
}

.old-comment{
	width: 100%;
	height: 7%;
	background: #ffff;
	margin: 5% auto;

}

.comment1{
	width: 100%;
	height: 100%;
	background: #ffff;
	padding: 10px;
	
}

.comment1-img, .comment2-img{
	width: 8%;
	height: 100%;
	float: left;
}

.comment1-main, .comment2-main{
	width: 90%;
	height: 100%;
	float: right;

}

.comment1-img .comment1-main, .comment2-img .comment2-main{
	display: inline-block;
}

.comment1-img img:hover, .comment2-img img:hover{
	border-radius: 50%;
	box-shadow: 0 0 8px green;
	transform: translateY(-3px);
	cursor: pointer;
}

.comment1-main > div, .comment2-main > div{
	margin: 12px;
	color: #848484;
}

.comment1-main > div:nth-child(3),.comment2-main > div:nth-child(3) {
	float: right;
}

.comment1-main > div:nth-child(3) > span, .comment2-main > div:nth-child(3) > span{
	padding-right: 10px;
}
.comment1-people > span:first-child, .comment2-people > span:first-child {
	color: #ff98009c;
	padding-right: 3%;
}

.comment1-people > span:last-child, .comment2-people > span:last-child{
	color: #848484;
	
}

.comment2{
	width: 100%;
	height: 100%;
	background: #ffff;
	margin: 5% auto;
	padding: 10px;

}

.page-comment{
	width: 100%;
	height: 350px;
	padding: 10px;
	background: white;
	/*border-radius: 10px;*/
}

.page-comment span {
	font-size: 20px;
	padding-left: 20px;
	color: orange;
}

.comment-input{
	width: 90%;
	height: 200px;
	margin: 0 auto;
	/*border: 1px solid #848484;*/
	border-radius: 10px;
}

.comment-input .form-control{
	padding: 10px;
	height: 100%;
	z-index: 2;
}

.comment-submit{
	width: 100%;
	margin: 15px auto;
	text-align: center;
}

.btn{
	width: 90%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    
}

.article-nav {
	width: 90%;
	margin: 0 auto;
}



.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* 如果用户继续向下滚动,这个按钮的透明度会变得更低 */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 5px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 35px;
    width: 35px;
    right: 10px;
    bottom: 20px;
  }
}





